/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header .container{
    display: flex;
    align-items: center;
    background-color: white;
    font-size: 18px;
}

.container ul{
    list-style: none;
    display: inline;
}

.container ul li{
    display: inline;
    
}
.container ul li a:link{
    color: #6b7280;
}
.container ul li a:hover{
    color: #5A67D8;
}

nav{
    flex: 1;
    text-align: right;
}






.overview-hero{
    background-color: #E2E8F0;
    padding: 50px;
}

.overview-hero-image img{
    float: left;
    padding-right: 10px;
}

.learn-about .container h2{
    font-size: 24px;
    color: #48BB78;
}
.learn-about .container .card .card-body h3{
    font-size: 21px;
    color: #48BB78;
}


.cards{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    padding: 20px;
}
.card{
    border-style: solid;
    box-shadow: 5px 10px #E2E8F0;
    border-color: #E2E8F0;
}

.testing{
    margin: 5em;
    background-color: #4A5568;
    color: white;
}

.testing-description{
    float: left;
}
.testing-description.cta a:link{
    background-color: #48BB78;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.cta{
    float: right;
}


.stories{
    margin-bottom: 5em;
}

.stories .container img{
    border-radius: 50%;
    float: left;
   padding-right: 10px;
}

.stories .container h2{
    color: #5A67D8;
    font-size: 18px;
}

.stories .container a:link{
    color: #5A67D8;
    font-size: 18px;
}

.newsletter .container{
    background-color: #48BB78;
}

.newsletter .btn{
    background-color: #5A67D8;
}

footer .container{
    background-color: #4A5568;
    color: white;
    padding: 30px;
}